<!DOCTYPE html>
<html lang="en" debug="true">
<head profile="http://purl.org/NET/erdf/profile" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{{ _template.metadata }}
	<link rel="shortcut icon" href="{{ _template.favicon }}" type="image/x-icon" >
	<title>{{ _template.title }}</title>
	
	<!-- stylesheets -->
{{ _template.stylesheets }} 
	<!-- scripts -->
{{ _template.scripts }}
</head>
<body>
	<!-- header -->
	<header>
	{{ _template.regions.header }}
	</header>
	<div class="container" id="main_content">
		<!-- breadcrumb -->
		<div id="sub_navigation">
			{{ _template.regions.breadcrumb }}
		</div>
		<!-- page content -->
		{{ _template.regions.content}}
	</div>
	<!-- footer -->
	<div class="container" id="footer">
		{{ _template.regions.footer }}
	</div>
	<div class="container">
		<div id="bottom_footer">
			<span><strong></strong></span>
		</div>
	</div>
</body>
</html>