<!DOCTYPE html>
<html>
<head>
<title>{{ _template.title }}</title>
{{ _template.metatags }}
{{ _template.stylesheets }}
{{ _template.scripts }}
</head>
<body>
	<h1> Administraci&oacute;n</h1>
{{ _regions.header }}
{{ _regions.breadcrumb }}
{{ _regions.content }}
{{ _regions.footer }}
</body>
</html>