<!DOCTYPE html>
<html>
<head>
<title>{{ _template.title }}</title>
{{ _template.metatags }}
{{ _template.stylesheets }}
{{ _template.scripts }}
</head>
<body>
	<h1>Spirate classic theme</h1>
{{ _template.regions.header }}
{{ _template.regions.breadcrumb }}
{{ _template.regions.content }}
{{ _template.regions.footer }}
</body>
</html>