{% extends _layout %}

{% block header %}
	<head>
		<title>{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="{{ favicon_src }}" type="image/x-icon" >
{{ meta }}{{ _stylesheets }}{{ _scripts }}
	</head>
{% endblock %}

{% block header_page %}
	<div class="ui_logo"><a class="logo" href=""></a></div>
			<div class="user_options">
				{{ block('search_box') }}
				<div class="header_hr"></div>
				{{ user_is_logged ? block('user_menu') : block('user_auth') }}
			</div>
{% endblock %}

{% block content %}
<div class="page_content clearfix">
{{content}}
</div>
{% endblock %}

{% block user_menu %}
<div class="user_menu">
	<div class="ui_user_menu clearfix">
		<ul>
			<li class="menu_icons">
				<ul>
					<li><a id="uicon_notifications" class="icon notifications_white" href="{{base_url ~ 'notificaciones'}}"></a></li>
					<li><a id="uicon_messages" class="icon mail_white" href="{{base_url ~ 'mensajes'}}"></a></li>
					<li><a id="uicon_bookmarks" class="icon bookmarks_white" href="{{base_url ~ 'favoritos'}}"></a></li>
				</ul>
			</li>
			<li class="user clearfix">
				<a class="avatar rounded drop-shadow-light"><img width="32" height="32" src="http://i.imgur.com/hfedEJj.jpg?1"></a>
				<a class="nickname" id="menu_username" href="{{ current_user.href }}">{{ current_user.username }}</a>
				<ul id="user-dropdown" class="hide">
					<li><a>Editar mi cuenta</a></li>
					<li><a>Mis amigos</a></li>
					<li class="separator"><a>Mis seguidores</a></li>
					<li><a href="{{ base_url }}users/salir">Salir</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block user_auth %}
<div class="auth_user">
	<div class="ui_auth rounded clearfix">
	<a class="register rounded" id="register" href="#">Registrarse</a>
	<a class="login rounded" id="login">Identificarse</a>
	<div id="login-form" style="display:none">
		<form method="post" action="{{base_url}}users/autentificar">
			<div class="login_form">
				<div class="input">
					<label for="username">Nombre de usuario</label>
					<input class="username" type="text" name="identity" id="username" />
				</div>
				<div class="input">
					<label for="password">Contrase&ntilde;a</label>
					<input class="password" type="password" name="password" id="password" />
				</div>
				<div class="input submit">
					<input type="submit" value="ingresar" href="{{ base_url }}?login" class="sp-button" />
				</div>
				<div class="input login-options">
					<div class="remindme clearfix">
						<input type="checkbox" name="remember" id="remind" />
						<label for="remind">No cerrar sesi&oacute;n</label>
					</div>
					<a>Recuperar contrase&ntilde;a</a>
				</div>
			</div>
		</form>
	</div>
	</div>
</div>
{% endblock %}

{% block search_box %}
<div class="ui_search">
	<input class="rounded" type="text" name="search" placeholder="Buscar" />
</div>
{% endblock %}

{% block navigation %}
<div class="ui_navigation container clearfix">
	<ul class="clearfix">
		<li><a class="ui_icon clearfix" href="{{ site_url }}stream"><i class="icon stream"></i> <span class="text">Stream</span></a>
		<li class="selected"><a class="ui_icon clearfix" href="{{ site_url }}posts"><i class="icon posts"></i> <span class="text">Posts</span></a>
		<li><a class="ui_icon clearfix" href="{{ site_url }}tops"><i class="icon tops"></i> <span class="text">Tops</span></a>
		<li><a class="ui_icon clearfix" id="admin"><i class="icon admin"></i> <span class="text">Administraci&oacute;n</span></a>
	</ul>
	<div class="categories">
	<!-- {{ block('select_categories') }} -->
	</div>
</div>
{% endblock %}

{% block sub_navigation %}
<div class="ui_sub_navigation clearfix">
	<ul>
	{% for item in breadcrumb %}
		<li{{ item.class ? ' class="' ~ item.class ~ '"' : '' }}>
		{% if item.selected %}
			<strong title="{{item.title}}">{{item.text}}</strong>
		{% else %}
			<a href="{{item.href}}" title="{{item.title}}">{{item.text}}</a>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}

{% block footer %}
<div class="ui_footer clearfix">
	<div class="sections">
		<ul>
			<li><a>Acerca de</a></li>
			<li><a>Contacto</a></li>
			<li><a>Enlazanos</a></li>
			<li><a>Sitemap</a></li>
			<li><a>Terminos y condiciones</a></li>
			<li><a>Privacidad</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block js_templates %}
{# print jsrender templates inside "verbatim" tag #}

{% verbatim %}
<script id="sp-dialog-template" type="text/x-jsrender">
	<div class="ui-dialog-context">
		<div class="sp-dialog">
			<i class="arrow"></i>
			<div class="dialog rounded">
				{{if dropdown }}
				<ul class="ui-dropdown dialog-content">
					{{:body}}
				</ul>
				{{else}}
				<div class="dialog-body dialog-content">
					{{:body}}
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</script>
<script id="bubble-notifications-tmp" type="text/x-jsrender">
<div class="bubble_notifications"{{:bubble_attr}}><span><strong>{{:count}}</strong></span></div>
</script>
{% endverbatim %}
{% endblock %}
