.posts-grid{
	position: relative;
	padding: 0 10px 20px 15px;
}
.posts-grid .section{
	float: left;
}

.posts-grid .section.l{
	width: 350px;
}
.posts-grid .section.c{
	width: 330px;
}
.posts-grid .section.r{
	width: 260px;
}

.posts-grid .section.c .item-block-posts,
.posts-grid .section.r .item-block-posts{
	margin-left: 50px;
}
.item-block-posts{
	margin-bottom: 20px;
}
.item-block-posts .title{
	border-bottom: 1px solid #E4E4E4;
	padding: 0 7px 12px 1px;
}
.item-block-posts .title h3{
	margin: 0 10px 0 0;
}
.item-block-posts .title h3,
.item-block-posts .title span,
.item-block-posts .title i{
	float: left;
}
.item-block-posts .title select{
	margin: 0;
}
.item-block-posts .content{
	padding-top: 10px;
}
.item-block-posts .content ul.posts-list li{
	border-bottom: 1px dashed #DDDDDD;
}
.item-block-posts .content ul.posts-list li.even, .item-block-posts .content ul.posts-list li:nth-child(even){
	background: #F5F5F5;
}
.item-block-posts .content ul.posts-list li div.post{
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 7px 8px 7px 6px;
}
.item-block-posts .content ul.posts-list ul.sticky-list{
	border-bottom: 1px dashed #DDDDDD;
}
.item-block-posts .content ul.posts-list ul.sticky-list li{
	border: none!important;
}
.item-block-posts .content ul.posts-list li.sticky-list-wrap{
	border: none !important;
	background: none !important;
}
.item-block-posts .content ul.posts-list li div.post.sticky{
	background: lightyellow;
}
.item-block-posts .content ul.posts-list li a{
	color: #676262;
	display: inline;
}
.item-block-posts .content ul.posts-list li div.post.sticky a{
	color: #B4B15C;
}
ul#comments li{
	border-bottom: 1px solid #F1F1F1;
	overflow: hidden;
	padding: 7px 10px 5px 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul#comments li span.user{
	background: url('../images/comments_arrow.png') no-repeat center right;
	margin-right: 10px;
	padding-right: 12px;
}
ul#comments li span.user a{
	color: #919191;
	font-weight: bold;
}
ul#comments li span.post{

}
ul#comments li span.post a{

}
.cloudtags{
	overflow: hidden;
	text-align: center;
}
.cloudtags a.tag{
    display: inline-block;
    font-weight: bold;
    margin: 2px 4px;
}

.newbies-list .item{
	display: inline-block;
}

.newbies-list .item a, .newbies-list .item a img{
	display: block;
}


/* POST VIEW */
.header_post .title_post{
	padding-top: 40px;
	padding-left: 250px;
}
.header_post .title_post h1{
	margin-bottom: 10px;
	float: left;
	font-size: 20px;
}
.header_post .sub_header_post{
	background: #F5F5F5;
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	diplay: block;
	position: relative;
}
.header_post .sub_header_post .avatar{
	float: left;
	margin: -66px 20px 0 40px;
	position: relative;
}
.header_post .sub_header_post .avatar .wrapper_avatar{
	background: url('../images/wrapper_avatar_post.png') no-repeat top left;
	display: block;
	width: 180px;
	height:180px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}

.header_post .sub_header_post .avatar a{
/*  border: 12px solid white;
	border-radius: 50% 50% 50% 50%;
	box-shadow: 0 3px 2px #CFCFCF; */
	background: #CCCCCC;
	display: block;
	height: 150px;
	margin: 17px 0 0 17px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	width: 150px;
}

.header_post .sub_header_post .avatar img{
	height: 160px;
	margin: -5px 0 0 -5px;
	width: 160px;
}

.header_post .sub_header_post .follow-button{
	height: 56px;
	left: 35px;
	margin-top: 120px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 196px;
}

.header_post .sub_header_post .author_info{
	float: left;
}

.header_post .sub_header_post .author_summary{
	float: left;
	margin: 15px 0 0 20px;
}
.header_post .sub_header_post .author_summary .username{
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.sub_header_post .author_stats{
	position: absolute;
	left: 248px;
	bottom: 0;
}
.sub_header_post .author_stats ul.stats_list{
	margin: 10px 0;
}
.sub_header_post .author_stats ul.stats_list li{
	border-right: 1px solid #CCCCCC;
	float: left;
	margin-right: 10px;
	padding: 3px 15px 3px 4px;
}
.sub_header_post .author_stats ul.stats_list li:last-child{
	border-right: none;
}
.sub_header_post .author_stats ul.stats_list li .stat_count{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}

.sub_header_post .author_stats ul.stats_list li .stat_count.posts{
	color: #2980b9;
}
.sub_header_post .author_stats ul.stats_list li .stat_count.points{
	color: #27ae60;
}
.sub_header_post .author_stats ul.stats_list li .stat_count.followers{
	color: #d35400;
}

.sub_header_post .author_stats ul.stats_list li .stat_text{
	font-size: 13px;
}

.sub_header_post .author_stats ul.stats_list li .stat_text .text {
    line-height: 20px;
}

.sub_header_post .author_stats ul.stats_list li i.icon.points,
.sub_header_post .author_stats ul.stats_list li i.icon.followers,
.sub_header_post .author_stats ul.stats_list li i.icon.posts{
	margin-left: -2px;
}

.sub_header_post .post_settings{
	float: right;
	margin: 10px 20px 0;
	width: 200px;
}

.sub_header_post .post_settings hr{
	margin: 3px inherit;
}

.sub_header_post .post_settings a.option{
	color: #777;
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}

.sub_header_post .post_settings strong.navigation{
	margin-top: 4px;
	margin-right: 3px;
	float: left;
}

.sub_header_post .post_settings a.navigation{
	background: url('../images/goto-otherpost-sprite.png') no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin-left: 7px;
	width: 27px;
}

.sub_header_post .post_settings a.navigation.prev{background-position: top left;}
.sub_header_post .post_settings a.navigation.prev:hover{background-position: left -24px}
.sub_header_post .post_settings a.navigation.prev:active{background-position: left -48px}

.sub_header_post .post_settings a.navigation.random{width: 29px; background-position: -27px top;}
.sub_header_post .post_settings a.navigation.random:hover{background-position: -27px -24px;}
.sub_header_post .post_settings a.navigation.random:active{background-position: -27px -48px;}

.sub_header_post .post_settings a.navigation.next{background-position: -56px top;}
.sub_header_post .post_settings a.navigation.next:hover{background-position: -56px -24px;}
.sub_header_post .post_settings a.navigation.next:active{background-position: -56px -48px;}

.sub_header_post .post_settings a.option.denounce:hover{
	color: #e74c3c;
}
.sub_header_post .post_settings a.option.send-friend:hover{
	color: #3498db;
}
.sub_header_post .post_settings a.option.edit:hover{
	color: #0066CC;	
}
.sub_header_post .post_settings a.option.edit i{
	margin-right: 9px;
}
.sub_header_post .post_settings a.option.delete:hover{
	color: #D2404B;
}
#main_post .post_context_wrap{
	position: relative;
}
#main_post .post_context{
    padding: 20px 20px 30px 20px;
    position: relative;
}

#main_post .post_context .left_column,
#main_post .post_context .right_column{
	float: left;
}

#main_post .post_context .left_column{
	border-right: 1px dashed #CCCCCC;
	float: left;
	padding-right: 20px;
	width: 700px;
}
.post_context .left_column .post_body{
	margin-bottom: 50px;
}
.post_context .left_column .post_body .msg{
	display: block;
	margin: 40px 0;
	word-wrap: break-word;
}
.post_context .left_column .post_body .msg img{
	max-width: 600px;
}
.post_context .left_column .post_body .msg img.smiley,
.post_context .left_column .post_body .msg img.bbcode_smiley,
{
  margin: -2px 1px;
}
.post_context .left_column .post_options{
	border: 1px solid #F3F3F3;
	border-bottom: 3px solid #EEEEEE;
	margin-bottom: 20px;
}
.post_context .left_column .post_options .content{
	background: #F5F5F5;
	border: 4px solid #FFF;
	padding: 30px 14px 10px 14px;
	position: relative;
}
.post_options .content > h3.hr_title span{
	background: #F5F5F5;
}
.post_options .content .post_stats{
	float: right;
}
.post_options .content .post_stats li{
	float: left;
	border-left: 1px solid #DDD;
	padding-left: 15px;
	margin-left: 15px
}
.post_options .content .post_stats li strong,
.post_options .content .post_stats li span{
	display: block;
 	text-align: right;
}
.post_options .content .post_stats li span{
	color: #444;
	font-size: 12px;
	font-weight: bold;
}
.post_options .content .post_stats li strong{
	font-size: 16px;
}

.post_options .content .options_buttons{
	float: left;
	margin-top: 8px;
}

.post_options .vote_post_wrapper{
	float: left;
	width: 495px;
}

.post_options .total_points{
	float: right;
	margin: 9px 4px 0 0;
}

.post_options .total_points .total_points_wrapper{
	text-align: right;
}

.post_options .total_points .total_points_wrapper .count{
	color: #37BC9B;
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
}

.post_options .total_points .total_points_wrapper .text{
	color: #48CFAD;
	font-size: 14px;
}

.post_options .total_points .post_score{
	float: right;
	line-height: 12px;
	margin-top: 4px;
}

.post_options .total_points .post_score div{
	float: right;
}

.post_options .total_points .post_score .rating{
	border-left: 1px solid #CCCCCC;
	margin-left: 6px;
	padding-left: 6px;
}

.post_options .total_points .post_score span.votes,
.post_options .total_points .post_score span.value,
.post_options .total_points .post_score span.best{
	font-weight: bold;
}

.points_response{
	background: #62EE9C;
	display: none;
	padding: 10px 20px;
	margin-top: 14px;
	min-width: 200px;
	text-align: center;
}
.points_response.error{
	background: #F76757;
}
.points_response.guest{
	background: #CCD1D9;
}

.points_response strong{
	color: #fff;
}
.points_response.guest strong{
	color: #6A727D;
}
.points_response.guest a{
	border-bottom: 1px dotted #6A727D;
	color: #555D68;
}

.post_points,
.post_points .wrapper_points_bar,
.post_points ul,
.post_points li,
.post_points .wrapper_points_bar li.dropdown > a > i{
	background: url('../images/bar_points_sprite.png');
}

.post_points {
	background-repeat: repeat-x;
	display: inline-block;
	height: 38px;
	margin: 10px 0 5px;
	padding: 5px;
}

.post_points .wrapper_points_bar{
	background-position: left -48px !important;
	background-repeat: no-repeat !important;
	height: 38px;
	padding-left: 11px;
}

.post_points .wrapper_points_bar .points_bar{
	background-position: right -87px !important;
	background-repeat: no-repeat !important;
	padding-right: 11px;
}

.post_points .wrapper_points_bar li{
	background-position: left -127px !important;
	border-bottom: 1px solid #C2C2C2;
	border-top: 1px solid #C2C2C2;
	height: 36px;
	float: left;
}

.post_points .wrapper_points_bar *::-moz-selection
{
	background: transparent!important;
}

.post_points .wrapper_points_bar *::selection
{
	background: transparent!important;
}

.post_points .wrapper_points_bar li:hover{
	background-position: left -163px !important;
}

.post_points .wrapper_points_bar li.active,
.post_points .wrapper_points_bar li:active,
.post_points .wrapper_points_bar li.dropdown:hover{
	background-position: left -199px !important;
}

.post_points .wrapper_points_bar li.first:hover,
.post_points .wrapper_points_bar li.last:hover,
.post_points .wrapper_points_bar li.first:active,
.post_points .wrapper_points_bar li.last:active{
	background-position: left -127px !important;
}

.post_points .wrapper_points_bar li a,
.post_points .wrapper_points_bar li strong{
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #CCCCCC;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 8px 12px 8px;
}

.post_points .wrapper_points_bar li a{

}

.post_points .wrapper_points_bar li strong{
	cursor: pointer;
}

.post_points .wrapper_points_bar > ul > li.active > a,
.post_points .wrapper_points_bar > ul > li.active > strong,
.post_points .wrapper_points_bar > ul > li:active > a,
.post_points .wrapper_points_bar > ul > li.active > strong,
.post_points .wrapper_points_bar > ul > li.dropdown:hover > a{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}

.post_points .wrapper_points_bar > li.first.active a,
.post_points .wrapper_points_bar > li.first:active a,
.post_points .wrapper_points_bar > li.first.active strong,
.post_points .wrapper_points_bar > li.first:active strong{
	border-right: 1px solid #CCCCCC !important;
	color: inherit !important;
	text-shadow: none !important;
}

.post_points .wrapper_points_bar li.last:active a,
.post_points .wrapper_points_bar li.last.active a,
.post_points .wrapper_points_bar li.last:active strong,
.post_points .wrapper_points_bar li.last.active strong{
	border-right: 1px solid #f7f7f7;
	color: inherit !important;
	text-shadow: none !important;
}

.post_points .wrapper_points_bar li.first a,
.post_points .wrapper_points_bar li.first strong {
  border-left: medium none !important;
  padding-left: 4px !important;
}

.post_points .wrapper_points_bar li.last a,
.post_points .wrapper_points_bar li.last strong{
	border-right: none !important;
	padding-right: 4px !important;
}
.post_points .wrapper_points_bar li.dropdown{
	position: relative;
}
.post_points .wrapper_points_bar li.dropdown > a{
	padding: 15px 15px 14px 13px !important;
}
.post_points .wrapper_points_bar li.dropdown > a > i{
    background-position: center -235px;
    background-repeat: no-repeat;
    display: block;
    height: 7px;
    width: 11px;
}
.post_points .wrapper_points_bar li.dropdown:hover > a > i{
	background-position: center -242px;
}
.post_points .wrapper_points_bar li.dropdown ul{
	background: #FFFFFF;
	border: 1px solid #C2C2C2;
	border-top: none;
	display: none;
	left: -1px;
	top: 36px;
	width: 40px;
	padding-top: 5px;
	position: absolute;
	border-radius: 0 0 4px 4px;
	z-index: 99;
}

.post_points .wrapper_points_bar li.dropdown:hover ul{
	display: block;
}

.post_points .wrapper_points_bar li.dropdown ul li{
	background: none repeat scroll 0 0 #FFFFFF;
	border: medium none;
	float: none;
	height: auto;
}
.post_points .wrapper_points_bar li.dropdown ul li:last-child{
	border-radius: 0 0 5px 5px;
}
.post_points .wrapper_points_bar li.dropdown ul li a{
	border: medium none;
	padding: 7px 12px !important;
}
.post_points .wrapper_points_bar li.dropdown ul li a:hover{
	background: #f1f1f1;
}

.post_comments .comments{
    display: block;
    margin-bottom: 30px;
}

.post_comments .comments .comment-context{
    border-bottom: 1px dashed #DDDDDD;
    padding: 20px 0 20px;
    position: relative;
}

.post_comments .comments .comment-context .avatar{
	position: absolute;
	top: 20px;
	left: 0;
}
.post_comments .comments .comment-context .avatar a{
	background: #F1F1F1;
	display: block;
	width: 64px;
	height: 64px;
}
.post_comments .comments .comment-context .comment{
	margin-bottom: 25px;
	margin-left: 80px;
}
.comment-context .comment .comment_options{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAdAgMAAADqesUwAAAADFBMVEX09PT19fX29vb6+vqjqaHEAAAAFUlEQVQI12P4/59h1SqcKDQUH8INAAyRFJf4pjY/AAAAAElFTkSuQmCC") repeat-x #F0F0F0;
    border-color: #F0F0F0 #F0F0F0 #DBDBDA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #EEEEED;
    display: none;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 10px;
}
.comment-context:hover .comment .comment_options{
	display: block;
}
.comment-context .comment .comment_options ul li{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #FBFBEB;
	float: left;
	padding: 3px 6px;
  -webkit-transition: background .3s ease;
     -moz-transition: background .3s ease;
      -ms-transition: background .3s ease;
       -o-transition: background .3s ease;
          transition: background .3s ease;
}
.comment-context .comment .comment_options ul li:hover{background: #f0f0f0;}
.comment-context .comment .comment_options ul li.first{border-left: none;}
.comment-context .comment .comment_options ul li.last{border-right: none;}
.comment-context .comment .comment_options li a{

}
.post_comments .comments .comment-context .comment .comment-info{
	line-height: 12px;
}
.post_comments .comments .comment-context .comment .comment-info .item{
	margin-right: 2px;
	display: inline-block;
}
.post_comments .comments .comment-context .comment .comment-info a.nick{
	font-size: 12px;
	font-weight: bold;
}
.post_comments .comments .comment-context .comment .comment-info span.time{
	color: #777;
	border-bottom: 1px dotted #CCC;
}
.post_comments .comments .comment-context .comment .comment-info span.edit{
	background: #9CF0B1;
	color: #27AE60;
	font-weight: bold;
	padding: 2px 4px;
}
.post_comments .comments .comment-context .comment .comment-info span.action{
	color: #222;
	font-weight: bold;
}
.post_comments .comments .comment-context .comment span.msg{
	display: block;
	font-size: 12px;
	margin: 10px 0;
	min-height: 22px;
	padding-right: 20px;
	word-wrap: break-word;
}

.comment-context .subcomments{
	background: url('../images/subcomments_arrow.png') no-repeat 24px 12px;
    display: block;
    padding-left: 80px;
}

.comment-context .subcomments .comment-context{
    background: #F8F8F8;
    border-bottom: 1px solid #F0F0F0;
    border-left: 3px solid #D5D5D5;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 12px;
}
.comment-context .subcomments .comment-context .avatar{
    left: 20px;
    top: 12px;
}
.comment-context .subcomments .comment-context .avatar a{
	width: 32px;
	height: 32px;
}
.comment-context .subcomments .comment-context .comment{
    margin-bottom: 5px;
    margin-left: 40px;
}

.comment-context .subcomments .comment-context .comment_options{
	display: none;
	right: 7px;
}
.comment-context .subcomments .comment-context:hover .comment_options{
	display: block;
}

.comment-context .subcomments .comment-context .comment span.msg{
    font-size: 11px;
    margin: 3px 0;
    min-height: 20px;
}

.comment_box{
	margin-bottom: 10px;
}

.comment_box .comment_form{
	background: #f7f7f7;
	padding: 10px;
}

#comments_left_chars{
	position: absolute;
	top: 10px;
	right: 12px;
}

#comments_left_chars span{
	background: #D2D2D2;
	color: #333333;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 5px;
}

.comment_box .comment_form .buttons_form{
	margin: 10px 0;
	text-align: right;
}


#main_post .post_context .right_column{
	float: left;
	margin-left: 25px;
	padding: 0 10px 0 0;
	width: 190px;
}

ul.related_posts li{
    margin-bottom: 4px;
    padding: 4px 0 4px 5px;
}

ul.related_posts li:nth-child(even){
	background: #f4f4f4;
}

ul.related_posts span.text{
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 155px;
}

div.tag-post,
div.tag-post span,
div.tag-post span a{
	background: url('../images/tag-post-sprite.png');
	display: inline-block;
}

div.tag-post{
    background-position: left top;
    background-repeat: no-repeat;
    margin: 4px;
    padding-left: 17px;
}

div.tag-post span{
    background-position: right -50px;
    background-repeat: no-repeat;
}

div.tag-post span a{
    background-position: left -25px;
    background-repeat: repeat-x;
    color: #7D7D7D;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin-right: 1px;
    padding: 6px 10px 7px 6px
}

div.tag-post span a:hover{
	color: #000;
}


.post_context .right_column .item{
	margin-bottom: 20px;
}

.post_context .right_column .item h4{
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 6px;
}

/* ADD NEW POST */

.add_post_form{
	padding: 10px;
}

.add_post_form .l_section{
	float: left;
	margin-right: 15px;
	width: 650px;
}

.add_post_form .section{
	background: #f8f8f8;
	border-left: 5px solid #CCC;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.add_post_form .section_title{
	font-size: 18px !important;
	font-weight: bold;
	margin-bottom: 26px !important;
	margin-top: 8px;
}

.add_post_form .section.post_content{
	border-color: #84B3D9;
}
.add_post_form .section.post_content .section_title{
	color:#84B3D9;
}
.add_post_form .section.post_options{
	border-color: #EAAB7B;
}
.add_post_form .section.post_options .section_title{
	color:#EAAB7B;
}
.add_post_form .section.post_submit{
	border-color: #89DA85;
}
.add_post_form .section.post_submit .section_title{
	color:#89DA85;
}

.add_post_form .section.post_errors{
	border-color: #EB7A7A;
}

.add_post_form .section.post_errors .section_title{
	color: #E75E5E;
	margin-bottom: 12px !important;
}

.add_post_form ul.errors_on_submit{
	margin-top: 10px;
}

.add_post_form ul.errors_on_submit li{
	font-size: 12px;
	font-weight: bold;
	padding: 4px 4px 4px 0;
}

.add_post_form .section .sub_section{
	margin-bottom: 15px;
}

.add_post_form .section h3{
	color: #444444;
	font-size: 16px;
	margin-bottom: 7px;
}

.add_post_form .section .sub_section.post_body h3{
	margin-bottom: 12px;
}

.add_post_form input.title{
	width: 588px;
}

.add_post_form .section .sources .sources_list{
	display: block;
	margin: 10px 0;
}

.add_post_form .section .sources .sources_list li{
	margin-bottom: 7px;
}

.add_post_form .section .sources .sources_list li a{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 192px;
}

.add_post_form .section .sources input{
	font-size: 12px;
	padding: 9px;
	margin-right: 7px;
	width: 200px;
}

.add_post_form .section .sources .sp-button{
	display: inline-block;
    padding-top: 9px;
}

.add_post_form .section .own_content{
	margin-top: 25px;
	width: 230px;
}

.add_post_form .section .sub_section.left.margin{
	margin-right: 25px;
}

.add_post_form .section .own_content input{
	margin-left: 0;
    position: relative;
    top: 3px;
}

.add_post_form .info{
	font-weight: normal;
	color: #555;
	margin-right: 5px;
}

.add_post_form .section .sub_section.tags textarea{
	width: 260px;
	height: 100px;
}

.add_post_form .section .sub_section.tags,
.add_post_form .section .sub_section.categories{
	width: 270px;
}

.add_post_form .section .sub_section.categories select{
	height: 180px;
	padding: 5px;
	width: 270px;
}

.add_post_form .section .sub_section.categories select option{
	font-size: 12px;
	padding: 4px 4px 4px 27px;
	width: auto;
}

.add_post_form .section select option.sprite-categories-1{background-position:-3px -652px;}
.add_post_form .section select option.sprite-categories-2{background-position:-3px -366px;}
.add_post_form .section select option.sprite-categories-9{background-position:-3px -28px;}
.add_post_form .section select option.sprite-categories-8{background-position:-3px -54px;}
.add_post_form .section select option.sprite-categories-7{background-position:-3px -80px;}
.add_post_form .section select option.sprite-categories-6{background-position:-3px -106px;}
.add_post_form .section select option.sprite-categories-5{background-position:-3px -132px;}
.add_post_form .section select option.sprite-categories-4{background-position:-3px -158px;}
.add_post_form .section select option.sprite-categories-3{background-position:-3px -184px;}
.add_post_form .section select option.sprite-categories-25{background-position:-3px -210px;}
.add_post_form .section select option.sprite-categories-24{background-position:-3px -236px;}
.add_post_form .section select option.sprite-categories-23{background-position:-3px -262px;}
.add_post_form .section select option.sprite-categories-22{background-position:-3px -289px;}
.add_post_form .section select option.sprite-categories-21{background-position:-3px -314px;}
.add_post_form .section select option.sprite-categories-20{background-position:-3px -340px;}
.add_post_form .section select option.sprite-categories-19{background-position:-3px -392px;}
.add_post_form .section select option.sprite-categories-18{background-position:-3px -419px;}
.add_post_form .section select option.sprite-categories-17{background-position:-3px -444px;}
.add_post_form .section select option.sprite-categories-16{background-position:-3px -470px;}
.add_post_form .section select option.sprite-categories-15{background-position:-3px -496px;}
.add_post_form .section select option.sprite-categories-14{background-position:-3px -522px;}
.add_post_form .section select option.sprite-categories-13{background-position:-3px -549px;}
.add_post_form .section select option.sprite-categories-12{background-position:-3px -574px;}
.add_post_form .section select option.sprite-categories-11{background-position:-3px -600px;}
.add_post_form .section select option.sprite-categories-10{background-position:-3px -626px;}

.add_post_form .section .sub_section.post_option{
	float: left;
	margin-right: 30px;
	width: 280px;
}

.add_post_form .section .sub_section.post_option.r-item{
	float: right;
	margin-right: 0px;
}


.add_post_form .section .sub_section.post_option input.radio,
.add_post_form .section .sub_section.post_option input.checkbox{
	margin: 0 11px 0 0;
	position: relative;
	top: 3px;
}

.add_post_form .section .sub_section .line{
	margin-bottom: 4px;
}

.add_post_form .section .sub_section.post_option.visibility select{
	width: 240px;
	padding: 3px;
}

.add_post_form .section .sub_section.post_option.visibility select option{
	padding: 3px;
}

.add_post_form .r_section{
	float: left;
	width: 270px;
}
.add_post_form .mini_protocol{
	background: #FEFFE3;
	border-left: 5px solid #E0E29F;
	padding: 10px 10px 10px 15px;
}
.add_post_form .r_section .mini_protocol ul{
	display: block;
	margin-bottom: 15px;
}

.add_post_form .r_section .mini_protocol ul li{
	font-size: 11px;
	padding: 3px;
	padding-left: 18px;
}