body{
	background: #F1F1F1;
	color: #222;
	font-family: arial, sans-serif, Tahoma, Helvetica;
	font-size: 12px;
}
a, a:visited{
	color: #4D93DD;
	text-decoration: none;
	cursor: pointer;
}

textarea{
	resize: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
:focus, :active {outline: 0;}

#header{
	background: #3CA0CB;
	border-bottom: 1px solid #1B749A;
	min-height: 60px;
}
#header .container, #header .ui_logo a{
	height: 60px;
}
#header .ui_logo{
	float: left;
}
#header .ui_logo a{
	background: url('../images/logo.png') no-repeat center 11px;
	color: #FFF;
	display: block;
	font-size: 17px;
	font-weight: bold;
	width: 250px;
}
#header .ui_logo a:hover{
	background-color: #42ACDA;	
}
#header .user_options{
	float: right;
}
#header .user_options .header_hr{
	background: url('../images/header_vert_hr.png') no-repeat top left;
	display: block;
	margin: 0 15px;
	float: left;
	width: 2px;
	height: 60px;
}
#header .user_options .auth_user,
#header .user_options .user_menu{
	float: left;
	margin-right: 10px;
	position: relative;
}
#header .user_options .auth_user .ui_auth{
	margin-top: 11px;
}
#header .user_options .auth_user a.login, #header .user_options .auth_user a.register{
	color: #FFFFFF;
	float: left;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 1px 0 #06364B;
}
#header .user_options .auth_user a.register{
	background: #3498C3;
	border-bottom: 1px solid #1D6C8E;
	border-top: 1px solid #60BAE0;
	margin-right: 5px;
	padding: 6px 12px;
}
#header .user_options .auth_user a.login{
	background: #42ACDA;
	padding: 7px 16px 7px 12px;
}
#header .user_options .ui_user_menu{
	margin-top: 12px;	
}
#header .user_options .ui_user_menu ul li{
	float: left;	
}
.user_options .ui_user_menu ul li.menu_icons{
	margin: 9px 11px 0 5px;
}
.user_options .ui_user_menu ul li.menu_icons li{
	margin-right: 13px;
}
.user_options .ui_user_menu ul li.menu_icons li a{
	display: block;
	position: relative;
}
#header .user_options .ui_user_menu ul li.user a{
	float: left;
}
#header .user_options .ui_user_menu ul li.user a.avatar{
	background: none repeat scroll 0 0 #6FB8F4;
	border-top: 1px solid #14567A;
	display: block;
	height: 32px;
	margin-right: 15px;
	overflow: hidden;
	width: 32px;
}
#header .user_options .ui_user_menu ul li.user a.nickname{
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	margin-top: 6px;
}

#header .user_options .ui_search{
	float: left;
}
#header .user_options .ui_search input{
	border: 1px solid #328BB1;
	border-bottom-width: 2px;
	font-size: 12px;
    margin-top: 12px;
    padding: 9px 7px 8px;
    width: 240px;	
}
#navigation{
	background: #F4F4F4;
	border: 1px solid #d8d8d8;
	border-top: none;
	position: relative;
}
#navigation .ui_navigation, #main_content{
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
#navigation .ui_navigation ul{
	float: left;
	margin-bottom: -1px;
}
#navigation .ui_navigation ul li{
	float: left;
}
#navigation .ui_navigation ul li a{
	color: #777;
	font-size: 13px;
	font-weight: bold;
	padding: 14px 20px;
}
#navigation .ui_navigation ul li a:hover{
	color: #3CA0CB;
}
#navigation .ui_navigation ul li.selected,
#navigation .ui_navigation ul li.selected:hover{
	background: #EBEBEB;
	border-bottom: 1px solid #3CA0CB;	
}
#navigation .ui_navigation ul li.selected a,
#navigation .ui_navigation ul li.selected a:hover{
	color: #000000;	
}
#navigation .ui_navigation ul li .icon.tops{
	margin-top: 2px;
}
#sub_navigation{
	border-bottom: 1px solid #EEEEEE;
}
#sub_navigation .ui_sub_navigation{
	margin-bottom: -1px;
}
#sub_navigation .ui_sub_navigation ul li{
	float: left;
	padding: 15px 10px 17px;
}
#sub_navigation .ui_sub_navigation ul li.selected{
	background: url('../images/arrow-top.png') no-repeat bottom center;	
}
#sub_navigation .ui_sub_navigation ul li a{
	font-weight: bold;
}
#navigation .categories{
	float: right;
	margin-right: 20px;
}
#navigation .categories .ui_categories{
	border: 1px solid #d9d9d9;
	font-size: 12px;
	margin-top: 8px;
}
#main_content{	
	background: #FFF;
}

#main_content .page_content{
	min-height: 500px;
	overflow: hidden;
	padding: 20px 10px 10px 10px;
	position: relative;
}
#footer{
	background: #FAFAFA;
	border: 1px solid #d8d8d8;
	border-bottom: none;
}
#footer .ui_footer{
	padding: 18px;
}
#bottom_footer, #bottom_footer span, #bottom_footer span strong{
	background: url('../images/bottom_footer_sheetsprite.png') no-repeat;
	display: block;
	height: 15px;
}
#bottom_footer{
	background-position: -1px -1px;
	margin: -1px -1px 50px;
	padding-left: 11px;
}
#bottom_footer span{
	background-position: right -33px;
	margin-right: -1px;
	padding-right: 12px;
}
#bottom_footer span strong{
	background-position: left -17px;
	background-repeat: repeat-x;
	display: block;
	height: 14px;
}
#footer .ui_footer .sections{
	float: left;	
}
#footer .ui_footer .sections ul li{
	float: left;
	margin-right: 10px;	
}

.sp-dialog .login_form{
	background: #f9f9f9;
	height: 100%;
	padding: 10px;
}
.sp-dialog .login_form label{
	display: block;
	font-size: 13px;
}
.sp-dialog .login_form div.input{
	margin-bottom: 5px;
}
.sp-dialog .login_form div.input input.username,
.sp-dialog .login_form div.input input.password{
	border: 1px solid #d7d7d7;
	font-size: 12px;
	font-weight: normal;
	padding: 6px;
	width: 230px;
}
.sp-dialog .login_form div.input.submit{
	text-align: right;
	margin: 15px 0;
}
.sp-dialog .login_form .login-options{
	border-top: 1px solid #c9c9c9;
	padding: 10px 0 0;
}
.sp-dialog .login_form .login-options .remindme label{
	float: left;
	display: inline;
}
.sp-dialog .login_form .login-options .remindme input{
	float: left;
	margin: 4px 10px 0 0;
}
.sp-dialog .login_form .options-account a{
	display: block;
	font-size: 11px;
}

.ui-dialog-context{
	position: absolute;
	z-index: 100;
}
.sp-dialog{
	position: relative;
}
.sp-dialog i.arrow{
	background: url('../images/arrow-top.png') no-repeat top right;
	display: block;
	height: 10px;
	position: absolute;
	right: 20px;
	top: -5px;
	width: 18px;
}
.sp-dialog .dialog{
	background: #FFFFFF;
	border: 4px solid #E5E5E5;
	border-radius: 4px 4px 4px 4px;
	height: auto;
	overflow: hidden;
}
.sp-dialog .dialog-body {
    min-height: 80px;
    min-width: 100px;
}
.sp-dialog .dialog ul.ui-dropdown, .sp-dialog .dialog-body {
    border: 1px solid #BDBDBD;
}
.sp-dialog .dialog ul.ui-dropdown{
	padding: 0px;
}
.sp-dialog .dialog ul.ui-dropdown li{
	
}
.sp-dialog .dialog ul.ui-dropdown li:last-child{
	border-bottom: none;
}
.sp-dialog .dialog ul.ui-dropdown li.separator{
	border-bottom: 1px solid #F2F2F2;
}
.sp-dialog .dialog ul.ui-dropdown li a{
	border-top: 1px solid transparent;
	color: #222222;
	display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 9px;
}
.sp-dialog .dialog ul.ui-dropdown li a:hover{
	background:#EFF7FF;
	border-top: 1px solid #CFE2F5;
	color: #5C8EBD;
}
.sp-modal{
	background: none;
	border: none;
	padding: 0;
}
.sp-modal .ui-dialog-titlebar{
	background: #44B4E8;
	border: none;
	border-radius: 4px 4px 0 0;
	padding: 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
}
.sp-modal.error .ui-dialog-titlebar{
	background: #E84450;
}
.sp-modal.success .ui-dialog-titlebar{
	background: #44E872;
}
.sp-modal .ui-dialog-titlebar .ui-dialog-title{
	font-size: 15px;
	padding: 8px 12px;
	float: left;
	width: auto;
}
.sp-modal .ui-dialog-titlebar .close-button{
	background: #3A99C5;
	border-left: 1px solid rgba(0, 0, 0, 0.03);
	float: right;
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
}
.sp-modal.error .ui-dialog-titlebar .close-button{
	background: #D2404B;
}
.sp-modal.success .ui-dialog-titlebar .close-button{
	background: #40D269;
}
.sp-modal .ui-dialog-titlebar .close-button .ui-dialog-titlebar-close{
	background: url("../images/cross.png") no-repeat top left;
	height: 11px;
	margin: -6px 0 0;
	padding: 1px;
	position: absolute;
	right: 1.1em;
	top: 50%;
	width: 11px;
}
.sp-modal .ui-dialog-content{
	background: #FFFFFF;
	min-height: 70px !important;
}
.sp-modal .ui-dialog-buttonpane{
	background: #F4F4F4;
	border: none;
	border-bottom: 2px solid #C2C2C2;
	border-top: 1px solid #f0f0f0;
	border-radius: 0 0 4px 4px;
	margin: 0;
	padding: 8px 12px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
}
.sp-modal .ui-dialog-buttonpane .sp-button{
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	margin-left: 5px;
}
.sp-modal .ui-dialog-buttonpane .sp-button span{
	padding: 0 !important;
}

.sp-modal .load-wrap{
	position: relative;
}
.sp-modal .load-wrap .load-overlay{
	background: #FFFFFF;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}


/* buttons */

.sp-button{
	background: #4998FF;
	border-bottom: 2px solid #2C7CC0;
	display: inline-block;
	font-family:  arial, sans-serif, Tahoma, Helvetica;
	text-transform: capitalize;
	padding: 7px 20px 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	text-shadow: 0px -1px rgba(0,0,0,0.5);
	-webkit-transition: opacity .2s ease;
	-moz-transition: opacity .2s ease;
	-ms-transition: opacity .2s ease;
	-o-transition: opacity .2s ease;
	transition: opacity .2s ease;
}

.sp-button::-moz-selection, .sp-button *::-moz-selection{
	background: transparent !important;
}

.sp-button::selection, .sp-button *::selection{
	background: transparent! important;
}

.sp-button.green {
	background: none repeat scroll 0 0 #74EA8E;
	border-bottom: 2px solid #29B548;
}
.sp-button.red {
    background: #F84949;
    border-bottom: 2px solid #A61D1D;
}
.sp-button.yellow{
	background-color: #F2CF66;
	border-bottom: 2px solid #D1B358;
}
.sp-button.clear, .sp-button.clear:active{
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	color: #989898!important;
	text-shadow: none;
}

a.sp-button, input.sp-button, button.sp-button{
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
}

input.sp-button,
button.sp-button{
    border-left: none;
    border-right: none;
    border-top: none;
    cursor: pointer;
}

.sp-button:hover{
	opacity: 0.85;
}

.sp-button:active{
	background-color: #2C7CC0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) inset;
	opacity: 1.0;
}


.sp-button.green:active{
	background-color: #29B548;
}
.sp-button.red:active{
	background-color: #A61D1D;
}
.sp-button.yellow:active{
	background-color: #D1B358;
}
.sp-button.clear:hover{
	color: #555;
}
.sp-button.gray{
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 2px solid #C5C5C5;
    box-shadow: 0 1px 0 #F4F4F4 inset;
    color: #5F5F5F;
	text-shadow: none;
}
.sp-button.gray:active{
	background: #C2c2c2;
	color: #FFF;
	border-color: transparent;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) inset;
}
.hr-vert{
	background: url('../images/hr.gif') repeat-x center center;
	display: block;
	margin-bottom: 15px;
}
.hr-vert > span {
    background: none repeat scroll 0 0 #f5f5f5;
    padding: 0 13px 0 0;
	position: relative;
	top: -2px;
}
.hr-vert.white > span{
	background: none repeat scroll 0 0 #FFFFFF;
}

hr{
	background: transparent !important;
	border-bottom: 1px solid #FFFFFF !important;
	border-image: none;
	border-left: medium none;
	border-right: medium none;
	border-top: 1px solid #CCCCCC !important;
	color: transparent !important;
	height: 0;
	display: block;
	margin: 15px 0;
}

hr.dashed{
	border-top-style: dashed !important;
	border-bottom-style: dashed !important;
}

/*! SCEditor | (C) 2011-2013, Sam Clarke | sceditor.com/license */div.sceditor-grip,.sceditor-button div{background-image:url('../images/SCEditor_spritebbc.png');background-repeat:no-repeat;width:16px;height:16px}.sceditor-button-youtube div{background-position:0 0}.sceditor-button-link div{background-position:0 -16px}.sceditor-button-unlink div{background-position:0 -32px}.sceditor-button-underline div{background-position:0 -48px}.sceditor-button-time div{background-position:0 -64px}.sceditor-button-table div{background-position:0 -80px}.sceditor-button-superscript div{background-position:0 -96px}.sceditor-button-subscript div{background-position:0 -112px}.sceditor-button-strike div{background-position:0 -128px}.sceditor-button-source div{background-position:0 -144px}.sceditor-button-size div{background-position:0 -160px}.sceditor-button-rtl div{background-position:0 -176px}.sceditor-button-right div{background-position:0 -192px}.sceditor-button-removeformat div{background-position:0 -208px}.sceditor-button-quote div{background-position:0 -224px}.sceditor-button-print div{background-position:0 -240px}.sceditor-button-pastetext div{background-position:0 -256px}.sceditor-button-paste div{background-position:0 -272px}.sceditor-button-orderedlist div{background-position:0 -288px}.sceditor-button-maximize div{background-position:0 -304px}.sceditor-button-ltr div{background-position:0 -320px}.sceditor-button-left div{background-position:0 -336px}.sceditor-button-justify div{background-position:0 -352px}.sceditor-button-italic div{background-position:0 -368px}.sceditor-button-image div{background-position:0 -384px}.sceditor-button-horizontalrule div{background-position:0 -400px}.sceditor-button-format div{background-position:0 -416px}.sceditor-button-font div{background-position:0 -432px}.sceditor-button-emoticon div{background-position:0 -448px}.sceditor-button-email div{background-position:0 -464px}.sceditor-button-date div{background-position:0 -480px}.sceditor-button-cut div{background-position:0 -496px}.sceditor-button-copy div{background-position:0 -512px}.sceditor-button-color div{background-position:0 -528px}.sceditor-button-code div{background-position:0 -544px}.sceditor-button-center div{background-position:0 -560px}.sceditor-button-bulletlist div{background-position:0 -576px}.sceditor-button-bold div{background-position:0 -592px}div.sceditor-grip{background-position:0 -608px;width:10px;height:10px}.rtl div.sceditor-grip{background-position:0 -618px;width:10px;height:10px}.sceditor-container{position:relative;background:#fff;border:1px solid #d9d9d9;font-size:13px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;color:#222;line-height:1;font-weight:bold;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.sceditor-container,.sceditor-container div,div.sceditor-dropdown,div.sceditor-dropdown div{padding:0;margin:0;z-index:3}.sceditor-container iframe,.sceditor-container textarea{border:5px solid #FFF;outline:0;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;color:#111;padding:3px;margin:0;resize:none;background:#fff}.sceditor-container iframe{background:#F1F1F1;}div.sceditor-resize-cover{position:absolute;top:0;left:0;background:#000;width:100%;height:100%;z-index:10;opacity:.3}.ie6 div.sceditor-resize-cover,.ie7 div.sceditor-resize-cover,.ie8 div.sceditor-resize-cover{background:#efefef}.sceditor-container.ie6{overflow:hidden}div.sceditor-grip{overflow:hidden;width:10px;height:10px;cursor:pointer;position:absolute;bottom:0;right:0;z-index:3}.sceditor-maximize{position:fixed;top:0;left:0;height:100%!important;width:100%!important;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;z-index:2000}html.sceditor-maximize,body.sceditor-maximize{height:100%;width:100%;padding:0;margin:0;overflow:hidden}.ie6.sceditor-maximize{position:absolute}.sceditor-maximize div.sceditor-grip{display:none}.sceditor-maximize div.sceditor-toolbar{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.sceditor-dropdown{position:absolute;border:1px solid #ccc;background:#fff;color:#333;z-index:4000;padding:10px;line-height:1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:1px 2px 4px rgba(0,0,0,0.2);-moz-box-shadow:1px 2px 4px rgba(0,0,0,0.2);box-shadow:1px 2px 4px rgba(0,0,0,0.2)}div.sceditor-dropdown a,div.sceditor-dropdown a:link{color:#333}div.sceditor-dropdown form{margin:0}div.sceditor-dropdown label{display:block;font-weight:bold;color:#3c3c3c;padding:4px 0}div.sceditor-dropdown input,div.sceditor-dropdown textarea{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;outline:0;padding:4px;border:1px solid #ccc;border-top-color:#888;margin:0 0 .75em;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.sceditor-dropdown textarea{padding:6px}div.sceditor-dropdown input:focus,div.sceditor-dropdown textarea:focus{border-color:#aaa;border-top-color:#666;-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);box-shadow:inset 0 1px 5px rgba(0,0,0,0.1)}div.sceditor-dropdown .button{font-weight:bold;color:#444;padding:6px 12px;background:#ececec;border:solid 1px #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;cursor:pointer;margin:.3em 0 0}div.sceditor-dropdown .button:hover{background:#f3f3f3;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.15);box-shadow:0 1px 1px rgba(0,0,0,0.15)}div.sceditor-font-picker,div.sceditor-fontsize-picker,div.sceditor-format{padding:6px 0}div.sceditor-emoticons,div.sceditor-more-emoticons,div.sceditor-color-picker{padding:0}.sceditor-pastetext textarea{border:1px solid #bbb;width:20em}.sceditor-emoticons img,.sceditor-more-emoticons img{padding:0;cursor:pointer;margin:2px}.sceditor-more{border-top:1px solid #bbb;display:block;text-align:center;cursor:pointer;font-weight:bold;padding:6px 0}.sceditor-dropdown a:hover{background:#eee}.sceditor-fontsize-option,.sceditor-font-option,.sceditor-format a{display:block;padding:7px 10px;cursor:pointer;text-decoration:none;color:#222}.sceditor-fontsize-option{padding:7px 13px}.sceditor-color-column{float:left}.sceditor-color-option{display:block;border:1px solid #fff;height:10px;width:10px;overflow:hidden}.sceditor-color-option:hover{border:1px solid #333}div.sceditor-toolbar{overflow:hidden;padding:3px 5px 2px;background:#f7f7f7;border-bottom:1px solid #c0c0c0;line-height:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.sceditor-group{display:inline-block;background:#ddd;margin:1px 5px 1px 0;padding:1px;border-bottom:1px solid #aaa;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.ie6 div.sceditor-group,.ie7 div.sceditor-group{display:inline;zoom:1}.sceditor-button{float:left;cursor:pointer;padding:3px 5px;width:16px;height:20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;text-indent:-9999px}.ie .sceditor-button{text-indent:0}.ie6 .sceditor-button,.ie7 .sceditor-button{float:none!important;display:inline;zoom:1}.ie6 .sceditor-button{padding:0}.ie6 .sceditor-button div{margin:5px}.ie7 .sceditor-button div{margin:5px 0}.sceditor-button:hover,.sceditor-button:active,.sceditor-button.active{background:#fff;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3),inset -1px 0 rgba(0,0,0,0.3),inset 0 -1px 0 rgba(0,0,0,0.2);-moz-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3),inset -1px 0 rgba(0,0,0,0.3),inset 0 -1px 0 rgba(0,0,0,0.2);box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3),inset -1px 0 rgba(0,0,0,0.3),inset 0 -1px 0 rgba(0,0,0,0.2)}.sceditor-button:active{background:#fff;-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3),inset -1px 0 rgba(0,0,0,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),inset 0 0 8px rgba(0,0,0,0.3);-moz-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3),inset -1px 0 rgba(0,0,0,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),inset 0 0 8px rgba(0,0,0,0.3);box-shadow:inset 1px 1px 0 rgba(0,0,0,0.3),inset -1px 0 rgba(0,0,0,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),inset 0 0 8px rgba(0,0,0,0.3)}.sceditor-button.disabled:hover{background:inherit;cursor:default;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.sceditor-button,.sceditor-button div{display:block}.sceditor-button div{margin:2px 0;padding:0;overflow:hidden;line-height:0;font-size:0;color:transparent}.sceditor-button.disabled div{filter:alpha(opacity=30);opacity:.3}.text .sceditor-button,.text .sceditor-button div,.sceditor-button.text,.sceditor-button.text div,.text-icon .sceditor-button,.text-icon .sceditor-button div,.sceditor-button.text-icon,.sceditor-button.text-icon div{width:auto;overflow:visible;line-height:16px;font-size:1em;color:inherit;text-indent:0}.text .sceditor-button div,.sceditor-button.text div{padding:0 2px;background:0}.text-icon .sceditor-button div,.sceditor-button.text-icon div{padding:0 2px 0 20px}.rtl .sceditor-button{float:right}.rtl div.sceditor-grip{right:auto;left:0}