#main_content .page_content{
	padding: 0 !important;
}
#main_profile{
	position: relative;
	top: -1px;
}
#main_profile .head_profile{
	background: #EBEDF2;
	border-top: 3px solid #E6E9EE;
	border-bottom: 1px solid #D8DCE8;
	height: 120px;
	padding: 15px;
	position: relative;
}

#main_profile .head_profile, #main_profile .head_profile a.username{
	color: #545968;
}

.head_profile .follow_user{
	position: absolute;
	top: 15px;
	right: 20px;
}

.head_profile .avatar_profile{
	position: absolute;
	bottom: -30px;
	left: 30px;
	z-index: 99;
}
.head_profile .avatar_profile .avatar, .head_profile .avatar_profile .avatar img{
	height: 150px;
	width: 150px;
}
.head_profile .avatar_profile .avatar{
	background: #FFF;
	border: 1px solid #D7DBE8;
	border-bottom-width: 2px;
	padding: 4px;
	border-radius: 4px;
	overflow: hidden;
	display: blocK;
}

.head_profile .summary_profile{
	float: left;
	margin-left: 200px;
	margin-top: 3px;
}
.head_profile .summary_profile .item{
	float: left;
	margin-right: 35px;
}
.head_profile .summary_profile .item.nick_sign{
	width: 290px;
}
.head_profile .summary_profile .item.nick_sign a.username{
	font-weight: bold;
	font-size: 18px;
}
.head_profile .summary_profile .item.nick_sign p{
	font-style: italic;
	font-size: 12px;
}
.head_profile .summary_profile .item > div{
	margin-bottom: 3px;
	margin-right: 5px
}

.head_profile .summary_profile > div > i.icon{
	margin-right: 5px;
}

.head_profile .summary_profile .gender .text{
	line-height: 25px;
}

.head_profile .profile_stats{
    bottom: 7px;
    position: absolute;
    right: 0;
}
.head_profile .profile_stats li {
    float: left;
    margin-right: 20px;
}
.head_profile .profile_stats li .count{
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	text-align: right;
}

.head_profile .profile_stats li.stat{
	font-size: 13px;
}

#main_profile .profile_navigation{
	background: #F1F1F2;
	border-bottom: 1px solid #D4D4D4;
	height: 42px;
	border-top: 1px solid #FAFAFA;
	padding-left: 220px;
}

#main_profile .profile_navigation .bottom_shadow{
    background: #E6E6E6;
    bottom: 0;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

#main_profile .profile_navigation > ul > li{
	float: left;
	border-right: 1px solid #D1D1D1;
	position: relative;
	top: -1px;
}

#main_profile .profile_navigation > ul > li > a,
#main_profile .profile_navigation > ul > li > strong{
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 17px;
}

#main_profile .profile_navigation > ul > li.first-child{
	border-left: 1px solid #D1D1D1;
}

#main_profile .profile_navigation > ul > li.selected{
	background: none repeat scroll 0 0 #E6E6E6;
	z-index: 10;
}

#main_profile .profile_navigation > ul > li.selected strong,
#main_profile .profile_navigation > ul > li.selected a{
	border-bottom: 3px solid #DADADA;
	padding-bottom: 7px !important;
	padding-top: 11px !important;
}