<!DOCTYPE html>
<html lang="en" debug="true">
{% block header %}
{% endblock %}
	<body>
		<div id="header">
			<div class="container">
			{% block header_page %}{% endblock %}
			</div>
		</div>
		<div class="drop-shadow-ddd" id="navigation">
		{% block navigation %}{% endblock %}
		</div>
		<div class="container" id="main_content">
		<div id="sub_navigation">
		{% block sub_navigation %}{% endblock %}
		</div>
		{% block content %}{% endblock %}
		</div>
		<div class="container" id="footer">
		{% block footer %}{% endblock %}
		</div>
		<div class="container">
			<div id="bottom_footer">
				<span><strong></strong></span>
			</div>
		</div>
	{% block js_templates %}{% endblock %}
	</body>
</html>