<div class="ui_sub_navigation clearfix">
	<ul>
	{% for item in _template.breadcrumb %}
		<li{{ item.class ? ' class="' ~ item.class ~ '"' : '' }}>
		{% if item.selected %}
			<strong title="{{item.title}}">{{item.text}}</strong>
		{% else %}
			<a href="{{item.href}}" title="{{item.title}}">{{item.text}}</a>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>