<div class="ui_footer clearfix">
	<div class="sections">
		<ul>
			<li><a>Acerca de</a></li>
			<li><a>Contacto</a></li>
			<li><a>Enlazanos</a></li>
			<li><a>Sitemap</a></li>
			<li><a>Terminos y condiciones</a></li>
			<li><a>Privacidad</a></li>
		</ul>
	</div>
</div>
{# allowed javascript tags here ( inside verbatim tags ) #}
{% verbatim %}

{% endverbatim %}