<div id="header">
	<div class="container">
		<div class="ui_logo"><a class="logo" href="{{ base_url() }}"></a></div>
		<div class="user_options">
			<div class="ui_search">
				<input class="rounded" type="text" name="search" placeholder="Buscar" />
			</div>
			<div class="header_hr"></div>
			{% if current_user.is_logged_in %}
			<div class="user_menu">
				<div class="ui_user_menu clearfix">
					<ul>
						<li class="menu_icons">
							<ul>
								<li><a id="uicon_notifications" class="icon notifications {{ current_user.notifications > 0 ? 'active' : 'inactive'}}" href="{{base_url ~ 'notificaciones'}}"></a></li>
								<li><a id="uicon_messages" class="icon mail {{ current_user.messages > 0 ? 'active' : 'inactive'}}" href="{{base_url ~ 'mensajes'}}"></a></li>
								<li><a id="uicon_bookmarks" class="icon bookmarks inactive" href="{{base_url ~ 'favoritos'}}"></a></li>
							</ul>
						</li>
						<li class="user clearfix">
							<a class="avatar rounded drop-shadow-light"><img width="32" height="32" src="{{current_user.avatar.small}}"></a>
							<a class="nickname" id="menu_username" href="{{ current_user.href }}">{{ current_user.username }}</a>
							<ul id="user-dropdown" class="hide">
								<li><a>Editar mi cuenta</a></li>
								<li><a>Mis amigos</a></li>
								<li class="separator"><a>Mis seguidores</a></li>
								<li><a href="{{ base_url }}users/salir?redirect={{ urlencode('/' ~ uri_string()) }}">Salir</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			{% else %}
			<div class="auth_user">
				<div class="ui_auth rounded clearfix">
				<a class="register rounded" id="register" href="#">Registrarse</a>
				<a class="login rounded" id="login">Identificarse</a>
				<div id="login-form" style="display:none">
					<form method="post" action="{{base_url}}users/autentificar?redirect={{ urlencode('/' ~ uri_string()) }}">
						<div class="login_form">
							<div class="input">
								<label for="username">Nombre de usuario</label>
								<input class="username" type="text" name="identity" id="username" />
							</div>
							<div class="input">
								<label for="password">Contrase&ntilde;a</label>
								<input class="password" type="password" name="password" id="password" />
							</div>
							<div class="input submit">
								<input type="submit" value="ingresar" href="{{ base_url }}?login" class="sp-button" />
							</div>
							<div class="input login-options">
								<div class="remindme clearfix">
									<input type="checkbox" name="remember" id="remind" />
									<label for="remind">No cerrar sesi&oacute;n</label>
								</div>
								<a>Recuperar contrase&ntilde;a</a>
							</div>
						</div>
					</form>
				</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="drop-shadow-ddd" id="navigation">
	<div class="ui_navigation container clearfix">
		<ul class="clearfix">
			<li><a class="ui_icon clearfix" href="{{ base_url('/stream') }}"><i class="icon stream"></i> <span class="text">Stream</span></a>
			<li class="selected"><a class="ui_icon clearfix" href="{{ base_url('/posts') }}"><i class="icon posts"></i> <span class="text">Posts</span></a>
			<li><a class="ui_icon clearfix" href="{{ base_url('/tops') }}"><i class="icon tops"></i> <span class="text">Tops</span></a>
			<li><a class="ui_icon clearfix" id="admin"><i class="icon admin"></i> <span class="text">Administraci&oacute;n</span></a>
		</ul>
		<div class="categories">
		<!-- {{ block('select_categories') }} -->
		</div>
	</div>
</div>